html {
    scroll-behavior: smooth;
}

#introPage {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introPage > div {
    background-color: white;
    width: fit-content;
    text-align: center;
}

#introPage > div > h1 {
    margin: 0;
}

.intro{
    padding: 10px;
}

.myWorkButton {
    margin: 20px;
    font-size: 10px;
    padding: 10px;
}

#header ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    list-style: none;
    padding-left: 0;
    /* border-style: solid; */
    background-color: #1b242f;
    color: white;
}

#header li{
    font-size: 20px;
    margin-left: 10px;
    display: inline;
}

#header {
    /* padding: 0; */
    color: red;
    width: 200vh;
}
a:link,a:visited {
    color: white;
    text-decoration: none;
}

.stickyHeader{
    position: sticky;
    top: 0;
    padding-bottom: 10px;
}

#aboutMe {
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200vh;
    height: 100vh;
    display: flex;
}

#aboutMe > div {
    width: 50%;
    height: 100%;
}

#aboutMe > div > img {
    width: 90%;
}

#aboutMe > div > h1 {
    font-size: 50px;
}

#aboutMe > div > p {
    font-size: 30px;
}

.contentAboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#porto {
    margin-top: 0;
    width: 100vh;
    height: 100vh;
    background-color: yellow;
}

#mySocial {
    margin-top: 0;
    width: 100vh;
    height: 100vh;
    background-color: red;
}

#contact {
    margin-top: 0;
    width: 100vh;
    height: 100vh;
    background-color: green;
}

