html, body{
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    padding: 0;
    margin: 0;
}
.introPage {
    /* width: 100%; */
    height: 100vh;
    background-image: url(./assets/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introPage > div {
    background-color: white;
    width: fit-content;
    text-align: center;
}

.introPage > div > h1 {
    margin: 0;
}

#intro{
    padding: 10px;
}

#myWorkButton {
    margin: 20px;
    font-size: 10px;
    padding: 10px;
}

#header ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    list-style: none;
    padding-left: 0;
    /* border-style: solid; */
    background-color: #1b242f;
    color: white;
}

#header li{
    font-size: 20px;
    margin-left: 10px;
    display: inline;
}

#header {
    padding: 0;
    color: red;
    width: 100%;
    border-bottom: 2px solid rgb(4, 194, 201);
}
#header a:link, #header a:visited {
    color: white;
    text-decoration: none;
}

.stickyHeader{
    position: sticky;
    top: 0;
    padding-bottom: 10px;
}

.aboutMe {
    padding-top: 50px;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
}

#aboutme1page {
    /* grid: 2; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 23px;
    font-weight: 500;
}

#aboutme1page > h1 {
    height: fit-content;
    margin-bottom: 0;
}

.contentSkill{
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contentSkill  > div > p {
    text-align: center;
}

#underline {
    width: 70px;
    border-style: solid;
}

#aboutme2page {
    display: flex;
    
}

#aboutme2page > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 50%;
}

#description {
    font-size: 30px;
}
#description > p {
    font-size: 20px;
    margin: 50px;
}

canvas {
    max-width: 600px;
    margin: auto;
}

#comingSoon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

